@font-face {
	font-family: Gilroy;
	font-weight: 700;
	src: url(../fonts/gilroyextrabold.woff) format("woff"),url(../fonts/gilroyextrabold.woff2) format("woff2");
}
@font-face {
	font-family: Gilroy;
	font-weight: 300;
	src: url(../fonts/gilroylight.woff) format("woff"),url(../fonts/gilroylight.woff2) format("woff2");
}
@font-face {
	font-family: "Open Sans";
	src: url(../fonts/opensans.woff) format("woff"),url(../fonts/opensans.woff2) format("woff2");
}
@font-face {
	font-family: "Open Sans";
	font-weight: 300;
	src: url(../fonts/opensanslight.woff) format("woff"),url(../fonts/opensanslight.woff2) format("woff2");
}
body {
	background-color: #fff;
	color: #464646;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 30px;
	margin: 0;
	min-width: 1200px;
	overflow-x: hidden;
	padding: 0;
	padding-top: 40px;
}
.container
{
	margin: 0 auto;
	padding: 0 20px;
	width: 1200px;
}
.btn {
	background: 0 0;
	border: 0;
	color: #000;
	cursor: pointer;
	display: block;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: .2em;
	line-height: 24px;
	padding-bottom: 10px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	z-index: 1;
}
.btn:active {
	color: rgba(0,0,0,.3);
}
.btn::before {
	background-color: #f0c52e;
	content: "";
	height: 8px;
	left: -2px;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: inherit;
	z-index: -1;
}
.btn:hover::before,.btn:focus::before {
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.btn:active::before {
	color: rgba(0,0,0,.3);
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
html {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
  overflow-x: hidden;
}
*,::before,::after {
	-webkit-box-sizing: inherit;
	        box-sizing: inherit;
}
a {
  text-decoration: none;
}
.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}



/* Хедер */
.page-header {
	background-color: #f7e296;
	color: #000;
	position: relative;
}
.header-logo {
  left: 59px;
	position: absolute;
	top: -19px;
  cursor: pointer;
}
.header-logo:hover,.header-logo:focus {
	opacity: .6;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.header-logo:active {
	opacity: .3;
}
.main-nav {
	padding-bottom: 160px;
	padding-left: 60px;
	padding-right: 60px;
	padding-top: 28px;
}
.catalog .main-nav {
	padding-bottom: 47px;
}
.main-nav_user-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: start;
	    -ms-flex-pack: start;
	        justify-content: flex-start;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 21px;
}
.main-nav_user-item {
	padding-bottom: 15px;
	padding-left: 27px;
	padding-top: 15px;
}
.main-nav_user-item-search {
	width: 540px;
}
.main-nav_user-item-login {
	padding-left: 26px;
	width: 280px;
}
.main-nav_user-item-compare {
	width: 110px;
  }
.main-nav_user-item-cart {
	text-align: right;
	width: 110px;
}
.main-nav_search {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: relative;
	width: 440px;
}
.main-nav_search-label {
	background-image: url(../img/search.svg);
	background-repeat: no-repeat;
	cursor: pointer;
	height: 20px;
	left: -24px;
	position: absolute;
	top: 8px;
	width: 20px;
}
.main-nav_search-label::before {
	background-color: #000;
	bottom: -12px;
	content: "";
	display: none;
	height: 2px;
	left: 0;
	position: absolute;
	width: 400px;
}
.main-nav_search-input {
	background-color: transparent;
	border: 0;
	color: #000;
	cursor: pointer;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	height: 30px;
	line-height: 30px;
	margin-left: 10px;
	outline: 0;
	padding: 0;
	position: relative;
	width: 320px;
}


.main-nav_search-input::-webkit-input-placeholder {
	color: rgba(0,0,0,.3);
}
.main-nav_search-input:-ms-input-placeholder {
	color: rgba(0,0,0,.3);
}
.main-nav_search-input::-ms-input-placeholder {
	color: rgba(0,0,0,.3);
}
.main-nav_search-input::-moz-placeholder {
	color: rgba(0,0,0,.3);
}
.main-nav_search-input::placeholder {
	color: rgba(0,0,0,.3);
}
.main-nav_search-input:hover::-webkit-input-placeholder {
	color: rgba(0,0,0,.6);
}
.main-nav_search-input:hover:-ms-input-placeholder {
	color: rgba(0,0,0,.6);
}
.main-nav_search-input:hover::-ms-input-placeholder {
	color: rgba(0,0,0,.6);
}
.main-nav_search-input:hover::-moz-placeholder {
	color: rgba(0,0,0,.6);
}
.main-nav_search-input:hover::placeholder {
	color: rgba(0,0,0,.6);
}
.main-nav_search-input:focus::-webkit-input-placeholder {
	font-size: 0;
}
.main-nav_search-input:focus:-ms-input-placeholder {
	font-size: 0;
}
.main-nav_search-input:focus::-ms-input-placeholder {
	font-size: 0;
}
.main-nav_search-input:focus::-moz-placeholder {
	font-size: 0;
}
.main-nav_search-input:focus::placeholder {
	font-size: 0;
}
.main-nav_search-input:focus~.main-nav_search-label::before {
	display: block;
}
.main-nav_search-input:focus~.main-nav_search-btn {
	opacity: 1;
	z-index: 0;
}
.main-nav_search-btn {
	background: 0 0;
	background-color: transparent;
	border: 2px solid #000;
	cursor: pointer;
	left: 330px;
	margin-bottom: auto;
	margin-top: auto;
	opacity: 0;
	padding-bottom: 14px;
	padding-top: 14px;
	position: absolute;
	top: -9px;
	width: 85px;
	z-index: -1;
}
.main-nav_search-btn:hover {
	background-color: #000;
	color: #fff;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
}
.main-nav_search-btn:focus {
	background-color: #000;
	color: #fff;
	opacity: 1;
	-webkit-transition: all .1s linear;
	-o-transition: all .1s linear;
	transition: all .1s linear;
	z-index: 0;
}
.main-nav_search-btn:active {
	color: rgba(255,255,255,.3);
}
.main-nav_search-btn:focus~.main-nav_search-label::before {
	display: block;
}
.main-nav_user-link {
	color: #000;
	position: relative;
}
.main-nav_user-link:hover {
	opacity: .6;
}
.main-nav_user-link:hover::before {
	opacity: .6;
}
.main-nav_user-link:active {
	opacity: .3;
}
.main-nav_user-link:active::before {
	opacity: .3;
}
.main-nav_user-link::before {
	background-repeat: no-repeat;
	content: "";
	height: 12px;
	position: absolute;
	width: 13px;
}
.main-nav_user-link-login::before {
	background-image: url(../img/black-user.svg);
	bottom: 4px;
	left: -26px;
}
.main-nav_user-link-profile::before {
	background-image: url(../img/black-user.svg);
	bottom: 4px;
	left: -26px;
}
.main-nav_user-link-compare::before {
	background-image: url(../img/black-compare.svg);
	bottom: 2px;
	left: -20px;
}
.main-nav_user-link-cart::before {
	background-image: url(../img/black-cart.svg);
	bottom: 4px;
	left: -23px;
}
.main-nav_user-link-logout {
	margin-left: 15px;
}
.main-nav_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style: none;
	margin: 0;
	padding: 0;
}
.main-nav_item-catalog {
	position: relative;
	width: 540px;
}
.main-nav_item-delivery {
	width: 158px;
}
.main-nav_item-warranty {
	width: 162px;
}
.main-nav_item-contacts {
	text-align: right;
	width: 180px;
}
.main-nav_link {
	color: #000;
	cursor: pointer;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: .2em;
	line-height: 24px;
	text-transform: uppercase;
}
.main-nav_link:hover {
	opacity: .6;
}
.main-nav_link:active {
	opacity: .3;
}
.main-nav_link-catalog {
	position: relative;
	}
.main-nav_link-catalog:hover+.main-nav_sub-wrap {
	display: block;
}
.main-nav_link-catalog:focus-within+.main-nav_sub-wrap {
	display: block;
}
.main-nav_link-catalog::before {
	background-color: #b8a974;
	bottom: 10px;
	content: "";
	height: 2px;
	position: absolute;
	right: -27px;
	width: 16px;
}
.main-nav_link-catalog::after {
	background-color: #b8a974;
	bottom: 3px;
	content: "";
	height: 16px;
	position: absolute;
	right: -20px;
	width: 2px;
}
.main-nav_link-contacts {
	margin-right: -.2em;
}
.main-nav_sub-wrap {
	background-color: #f7e296;
	display: none;
	left: -60px;
	padding-bottom: 34px;
	padding-left: 40px;
	padding-top: 26px;
	position: absolute;
	top: 22px;
	width: 1160px;
	z-index: 2;
}
.main-nav_sub-wrap:hover {
	display: block;
}
.main-nav_sub-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	letter-spacing: .01em;
	line-height: 36px;
	list-style: none;
	margin: 0;
	padding: 0;
	width: 640px;
}
.main-nav_sub-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-right: 1px;
	width: 200px;
}
.main-nav_sub-column:first-child {
	width: 220px;
}
.main-nav_sub-column a {
	color: #000;
	display: block;
}
.main-nav_sub-column a:hover {
	opacity: .6;
}
.main-nav_sub-column a:active {
	opacity: .3;
}




/* Слайдер */
.promo-slider {
	position: relative;
	z-index: 1;
}
.promo-slider_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: -110px;
	padding-bottom: 97px;
	position: relative;
}
.promo-slider_item-2 {
	padding-bottom: 85px;
}
.promo-slider_item-3 {
	padding-bottom: 110px;
}
.promo-slider_img-wrap {
	margin-right: 40px;
	text-align: center;
	width: 560px;
}
.promo-slider_img-wrap-01 img {
	height: 486px;
	margin-left: 5px;
	margin-top: -1px;
	width: 384px;
}
.promo-slider_img-wrap-02 img {
	height: 485px;
	margin-left: 16px;
	margin-top: 12px;
	width: 345px;
}
.promo-slider_img-wrap-03 img {
	height: 334px;
	margin-left: 30px;
	margin-top: 65px;
	width: 526px;
}
.promo-slider_descr-wrap {
	padding-top: 78px;
	position: relative;
	width: 560px;
}
.promo-slider_descr-wrap::before {
	background-color: #fff;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: 36px;
	width: 100px;
}
.promo-slider_descr-wrap::after {
	color: #fff;
	content: "";
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 179px;
	font-weight: 800;
	line-height: 179px;
	position: absolute;
	right: 50px;
	top: -15px;
	z-index: -1;
}
.promo-slider_descr-wrap-1::after {
	content: "01";
}
.promo-slider_descr-wrap-2::after {
	content: "02";
	right: 52px;
}
.promo-slider_descr-wrap-3::after {
	content: "03";
	right: 53px;
}
.promo-slider_descr-wrap b {
	color: #000;
	display: block;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: .01em;
	line-height: 56px;
	padding-bottom: 19px;
}
.promo-slider_descr-wrap p {
	font-family: "Open Sans","Arial",sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: .01em;
	line-height: 30px;
	margin: 0;
	padding: 0;
}
.promo-slider_descr-wrap-1 p {
	width: 490px;
}
.promo-slider_descr-wrap-2 p,.promo-slider_descr-wrap-3 p {
	width: 460px;
}
.promo-slider_descr-wrap .btn {
	background: 0 0;
	border: 0;
	margin-bottom: 46px;
	margin-left: 2px;
	margin-top: 42px;
	width: 220px;
}
.promo-slider_controls {
	top: 330px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	position: absolute;
	right: 82px;
	width: 78px;
	z-index: 1;
}
.promo-slider_control {
	border: 1px solid #000;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 12px;
	position: relative;
	width: 12px;
}
.promo-slider_control::before {
	border: 1px solid #000;
	border-radius: 3px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	content: "";
	display: none;
	height: 6px;
	left: 2px;
	position: absolute;
	top: 2px;
	width: 6px;
}
.promo-slider_input:focus~.promo-slider_controls label {
  outline: 5px auto -webkit-focus-ring-color;
}
.promo-slider_input[id=promo-control-1]:checked~.promo-slider_controls label[for=promo-control-1]::before,.promo-slider_input[id=promo-control-2]:checked~.promo-slider_controls label[for=promo-control-2]::before,.promo-slider_input[id=promo-control-3]:checked~.promo-slider_controls label[for=promo-control-3]::before {
	display: block;
}
.promo-slider_input[id=promo-control-1]:checked~.promo-slider_item-2,.promo-slider_input[id=promo-control-1]:checked~.promo-slider_item-3,.promo-slider_input[id=promo-control-2]:checked~.promo-slider_item-1,.promo-slider_input[id=promo-control-2]:checked~.promo-slider_item-3,.promo-slider_input[id=promo-control-3]:checked~.promo-slider_item-1,.promo-slider_input[id=promo-control-3]:checked~.promo-slider_item-2 {
	display: none;
}
.promo-slider_advantages {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 0;
	padding: 0;
}
.promo-slider_advantages-1 {
	width: 460px;
}
.promo-slider_advantages-2 {
	width: 200px;
}
.promo-slider_advantages-3 {
	width: 300px;
}
.promo-slider_advantages-col {
	color: #000;
	display: block;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 36px;
	font-weight: 300;
	line-height: 48px;
	margin: 0;
	padding: 0;
}
.promo-slider_advantages-descr {
	display: block;
	font-size: 13px;
	line-height: 20px;
	margin: 0;
	padding: 0;
	text-align: left;
}
.promo-slider_advantages-col-first {
	width: 160px;
}
.promo-slider_advantages-col-second {
	width: 140px;
}
.promo-slider_advantages-col-third {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	width: 160px;
}
.promo-slider_advantages-descr-first {
	width: 160px;
}
.promo-slider_advantages-descr-second {
	width: 140px;
}
.promo-slider_advantages-descr-third {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	width: 160px;
}
.promo-slider_advantages-2 .promo-slider_advantages-col-first {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}

/* Популярные товары */
.main-goods {
	padding-bottom: 18px;
}
.main-goods_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-goods_item-wrap {
	background-color: rgba(240,197,46,.5);
	height: 160px;
	width: 160px;
}
.main-goods_item-wrap-vr {
	padding-bottom: 53px;
	padding-left: 31px;
	padding-right: 32px;
	padding-top: 52px;
}
.main-goods_item-wrap-selfie {
	padding-bottom: 2px;
	padding-left: 38px;
	padding-right: 36px;
	padding-top: 41px;
}
.main-goods_item-wrap-selfie+p {
	width: 100px;
}
.main-goods_item-wrap-cam {
	padding-bottom: 35px;
	padding-left: 49px;
	padding-right: 40px;
	padding-top: 38px;
}
.main-goods_item-wrap-fit {
	padding-bottom: 45px;
	padding-left: 28px;
	padding-right: 25px;
	padding-top: 50px;
}
.main-goods_item-wrap-watch {
	padding-bottom: 30px;
	padding-left: 55px;
	padding-right: 49px;
	padding-top: 32px;
}
.main-goods_item-wrap-copter {
	padding-bottom: 42px;
	padding-left: 13px;
	padding-right: 15px;
	padding-top: 49px;
}
.main-goods_item-link:hover .main-goods_item-wrap,.main-goods_item-link:focus .main-goods_item-wrap {
	background-color: #f0c52e;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.main-goods_item:active {
	opacity: .3;
}
.main-goods_item-name {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	line-height: 24px;
	margin: 0;
	padding-top: 33px;
	width: 160px;
}


/* Слайдер сервиса */
.services-slider {
	position: relative;
}
.services-slider::before {
	background-color: #e5e5e5;
	content: "";
	height: calc(100% - 164px);
	left: 0;
	position: absolute;
	top: 163px;
	width: 100%;
	z-index: -1;
}
.services-slider-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	padding-bottom: 118px;
	z-index: 1;
}
.services-slider_item {
	margin-left: 120px;
	-webkit-box-ordinal-group: 3;
	    -ms-flex-order: 2;
	        order: 2;
	padding-top: 136px;
	position: relative;
	width: 460px;
}
.services-slider_item-delivery::before {
	background-image: url(../img/delivery.svg);
	background-repeat: no-repeat;
	content: "";
	height: 164px;
	position: absolute;
	right: -234px;
	top: 148px;
	width: 136px;
	z-index: 0;
}
.services-slider_item-warranty {
	margin-left: 121px;
}
.services-slider_item-warranty::before {
	background-image: url(../img/warranty.svg);
	background-repeat: no-repeat;
	content: "";
	height: 195px;
	position: absolute;
	right: -253px;
	top: 124px;
	width: 171px;
	z-index: 0;
}
.services-slider_item-credit::before {
	background-image: url(../img/credit.svg);
	background-repeat: no-repeat;
	content: "";
	height: 188px;
	position: absolute;
	right: -258px;
	top: 124px;
	width: 156px;
	z-index: 0;
}
.services-slider_item-credit {
	width: 430px;
}
.services-slider_item h3 {
	margin: 0;
	padding-bottom: 31px;
}
.services-slider_item p {
	margin: 0;
}
.services-slider_controls {
	padding-right: 120px;
	padding-top: 142px;
	position: relative;
}
.services-slider_controls::before {
	background-color: #000;
	content: "";
	height: calc(100% - 15px);
	position: absolute;
	right: -4px;
	top: 63px;
	width: 7px;
}
.services-slider_control {
	color: #000;
	cursor: pointer;
	display: block;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: .2em;
	line-height: 24px;
	margin-bottom: 20px;
	-webkit-box-ordinal-group: 2;
	    -ms-flex-order: 1;
	        order: 1;
	padding-bottom: 10px;
	padding-left: 3px;
	padding-top: 10px;
	position: relative;
	text-align: center;
	text-transform: uppercase;
	width: 160px;
	z-index: 1;
}
.services-slider_control::before {
	background-color: #f0c52e;
	content: "";
	height: 8px;
	left: 0;
	margin-top: -4px;
	position: absolute;
	top: 50%;
	width: 160px;
	z-index: -1;
}
.services-slider_control::after {
	background-color: #000;
	content: "";
	height: 40px;
	left: 100%;
	position: absolute;
	top: 0;
	width: 0;
	z-index: -1;
}
.services-slider_control:hover::before {
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.services-slider_input:focus~.services-slider_controls label {
	outline: 5px auto -webkit-focus-ring-color;
}
.services-slider_input[id=services-control-1]:checked~.services-slider_controls label[for=services-control-1],.services-slider_input[id=services-control-2]:checked~.services-slider_controls label[for=services-control-2],.services-slider_input[id=services-control-3]:checked~.services-slider_controls label[for=services-control-3] {
	color: #f7e184;
}
.services-slider_input[id=services-control-1]:checked~.services-slider_controls label[for=services-control-1]::before {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 1px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	z-index: -1;
}
.services-slider_input[id=services-control-1]:checked~.services-slider_controls label[for=services-control-1]::after {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 1px;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	width: 120px;
	z-index: -1;
}
.services-slider_input[id=services-control-2]:checked~.services-slider_controls label[for=services-control-2]::before {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	z-index: -1;
}
.services-slider_input[id=services-control-2]:checked~.services-slider_controls label[for=services-control-2]::after {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	width: 120px;
	z-index: -1;
}
.services-slider_input[id=services-control-3]:checked~.services-slider_controls label[for=services-control-3]::before {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	z-index: -1;
}
.services-slider_input[id=services-control-3]:checked~.services-slider_controls label[for=services-control-3]::after {
	background-color: #000;
	color: #f7e184;
	height: 40px;
	margin: 0;
	top: 0;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
	width: 120px;
	z-index: -1;
}
.services-slider_input[id=services-control-2]:checked~.services-slider_controls label[for=services-control-2]::before,.services-slider_input[id=services-control-3]:checked~.services-slider_controls label[for=services-control-3]::before,.services-slider_input[id=services-control-1]:checked~.services-slider_controls label[for=services-control-1]::before,.services-slider_input[id=services-control-2]:checked~.services-slider_controls label[for=services-control-2]::before,.services-slider_input[id=services-control-3]:checked~.services-slider_controls label[for=services-control-3]::before
{
	display: block;
}
.services-slider_input[id=services-control-1]:checked~.services-slider_item-warranty,.services-slider_input[id=services-control-1]:checked~.services-slider_item-credit,.services-slider_input[id=services-control-2]:checked~.services-slider_item-delivery,.services-slider_input[id=services-control-2]:checked~.services-slider_item-credit,.services-slider_input[id=services-control-3]:checked~.services-slider_item-delivery,.services-slider_input[id=services-control-3]:checked~.services-slider_item-warranty {
	display: none;
}
.services-slider_item h3 {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
}


/* Популярные бренды */
.main-brands {
	padding-bottom: 16px;
	padding-top: 16px;
}
.main-brands_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.main-brands_item {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	height: 254px;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	width: 260px;
}
.main-brands_link {
	height: 100px;
	opacity: .2;
	width: 260px;
}
.main-brands_link:hover,.main-brands_link:focus {
	opacity: 1;
	-webkit-transition: all .3s linear;
	-o-transition: all .3s linear;
	transition: all .3s linear;
}
.main-brands_link-dji {
	background-image: url(../img/logo-dji-gray.png);
}
.main-brands_link-dji:hover,.main-brands_link-dji:focus {
	background-image: url(../img/logo-dji.png);
}
.main-brands_link-spg {
	background-image: url(../img/logo-sp-gray.png);
}
.main-brands_link-spg:hover,.main-brands_link-spg:focus {
	background-image: url(../img/logo-sp.png);
}
.main-brands_link-gopro {
	background-image: url(../img/logo-gopro-gray.png);
}
.main-brands_link-gopro:hover,.main-brands_link-gopro:focus {
	background-image: url(../img/logo-gopro.png);
}
.main-brands_link-vive {
	background-image: url(../img/logo-vive-gray.png);
}
.main-brands_link-vive:hover,.main-brands_link-vive:focus {
	background-image: url(../img/logo-vive.png);
}

/* О нас и контакты */
.main-info-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 79px;
	padding-top: 52px;
}
.main-info {
	position: relative;
	width: 560px;
}
.main-info::before {
	background-color: #000;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: -52px;
	width: 80px;
}
.main-info .btn,.main-contacts .btn {
	background: 0 0;
	border: 0;
	width: 260px;
}
.main-info h3,.main-contacts h3 {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	line-height: 48px;
	margin: 0;
	padding-bottom: 43px;
}
.main-info_descr {
	padding-bottom: 36px;
}
.main-info_descr p:first-child {
	margin: 0;
	padding-bottom: 30px;
	width: 460px;
}
.main-info_descr p:last-child {
	margin: 0;
	padding-bottom: 30px;
	width: 485px;
}
.main-info_delivery-list {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 40px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-bottom: 52px;
	padding-left: 36px;
}
.main-info_delivery-item {
	position: relative;
}
.main-info_delivery-item::before {
	border: 2px solid #e6e6e6;
	border-radius: 50%;
	content: "";
	height: 8px;
	left: -34px;
	position: absolute;
	top: 16px;
	width: 8px;
}
.main-info .btn {
	margin-left: 3px;
}
.main-contacts {
	position: relative;
	width: 560px;
}
.main-contacts::before {
	background-color: #000;
	content: "";
	height: 7px;
	left: 0;
	position: absolute;
	top: -52px;
	width: 80px;
}
.main-contacts h3 {
	margin-left: -3px;
}
.main-contacts p {
	margin: 0;
	padding-bottom: 39px;
}
.main-contacts_map {
	display: block;
	margin-left: 1px;
}
.main-contacts_map img {
	height: 222px;
	width: 560px;
}
.main-contacts .btn {
	margin-left: 3px;
	margin-top: 59px;
}




/* Футер */
.page-footer {
	background-color: #464646;
	color: #fff;
	padding-bottom: 57px;
	padding-top: 63px;
}
.page-footer_user-panel {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
.page-footer_logo {
		padding-top: 2px;
}
.page-footer_user-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page-footer_user-item {
	text-align: right;
}
.page-footer_user-item-login {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 33px;
}
.page-footer_user-item-compare {
	margin-right: 22px;
	width: 100px;
}
.page-footer_user-item-cart {
	width: 100px;
}
.page-footer_logo a {
	cursor: pointer;
}
.page-footer_logo a:hover {
	opacity: .6;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.page-footer_logo a:active {
	opacity: .3;
}
.page-footer_user-link {
	color: rgba(255,255,255,.7);
	position: relative;
	text-align: right;
}
.page-footer_user-link-logout {
	color: rgba(255,255,255,.3);
}
.page-footer_user-link-profile {
	margin-right: 16px;
}
.page-footer_user-link-logout:hover {
	color: #fff;
}
.page-footer_user-link:hover {
	color: #fff;
}
.page-footer_user-link:active {
	color: rgba(255,255,255,.3);
}
.page-footer_user-link:hover::before {
	opacity: .6;
}
.page-footer_user-link:active::before {
	opacity: .3;
}
.page-footer_user-link::before {
	background-repeat: no-repeat;
	bottom: 4px;
	content: "";
	height: 12px;
	left: -23px;
	position: absolute;
	width: 13px;
}
.page-footer_address {
	-webkit-box-flex: 7;
	    -ms-flex-positive: 7;
	        flex-grow: 7;
}
.page-footer_phone {
	-webkit-box-flex: 9;
	    -ms-flex-positive: 9;
	        flex-grow: 9;
	text-align: right;
}
.page-footer_phone a {
		color: #fff;
}
.page-footer_user-link-login::before {
	background-image: url(../img/yellow-user.svg);
	left: -26px;
}
.page-footer_user-link-profile::before {
	background-image: url(../img/yellow-user.svg);
	left: -26px;
}
.page-footer_user-link-compare::before {
	background-image: url(../img/yellow-compare.svg);
	bottom: 2px;
	left: -20px;
}
.page-footer_user-link-cart::before {
	background-image: url(../img/yellow-cart.svg);
}
.page-footer_info {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	padding-bottom: 42px;
  padding-top: 5px;
	margin: 0;
}
.page-footer_services {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 5;
	    -ms-flex-positive: 5;
	        flex-grow: 5;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
	list-style-type: none;
	padding-top: 6px;
}
.page-footer_services-link {
	margin: 0 auto;
}
.page-footer_services-link a {
	font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.page-footer_services a:hover {
	color: rgba(255,255,255,.6);
}
.page-footer_services a:active {
	color: rgba(255,255,255,.3);
}
.page-footer_social-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	list-style-type: none;
	margin: 0;
	padding-top: 2px;
	width: 148px;
}
.page-footer_social-link {
	height: 32px;
	opacity: .3;
	position: relative;
	width: 32px;
}
.page-footer_social-link::before {
	background-repeat: no-repeat;
	content: "";
	height: 32px;
	position: absolute;
	width: 32px;
}
.page-footer_social-link-fb::before {
	background-image: url(../img/facebook.svg);
}
.page-footer_social-link-inst::before {
	background-image: url(../img/instagram.svg);
}
.page-footer_social-link-tw::before {
	background-image: url(../img/twitter.svg);
}
.page-footer_social-link:hover,.page-footer_social-link:focus {
	opacity: .6;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.page-footer_social-link:active {
	opacity: .1;
}
.page-footer_copyright:hover,.page-footer_copyright:focus {
	opacity: .6;
	-webkit-transition: all .2s linear;
	-o-transition: all .2s linear;
	transition: all .2s linear;
}
.page-footer_copyright:active {
	opacity: .3;
}
.page-footer_links {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: end;
	    -ms-flex-pack: end;
	        justify-content: flex-end;
	position: relative;
}
.page-footer_links::before {
	background-color: #ffc600;
	bottom: 22px;
	content: "";
	height: 7px;
	left: 1px;
	position: absolute;
	width: 80px;
}
.page-footer_links-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 690px;
}
.footer_address {
	-webkit-box-flex: 7;
	    -ms-flex-positive: 7;
	        flex-grow: 7;
}




/* Внутренняя страница второй хедер с крошками*/
.page-content_header {
	padding-bottom: 44px;
	padding-left: 59px;
	padding-top: 37px;
}
.page-content_title {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 47px;
	font-weight: 800;
	letter-spacing: .01em;
	line-height: 48px;
	margin: 0;
	padding-bottom: 20px;
}
.breadcrumbs_list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.breadcrumbs_item {
	padding-right: 37px;
	position: relative;
}
.breadcrumbs_item::after {
	border-right: 1px solid #000;
	border-top: 1px solid #000;
	content: "";
	height: 5px;
	position: absolute;
	right: 19px;
	top: 14px;
	-webkit-transform: rotate(45deg);
	    -ms-transform: rotate(45deg);
	        transform: rotate(45deg);
	webkit-transform: rotate(45deg);
	width: 5px;
}
.breadcrumbs_item:nth-child(2)::after {
	right: 16px;
}
.breadcrumbs_item:last-child::after {
	display: none;
}
.breadcrumbs_item a {
	color: rgba(0,0,0,.3);
	font-size: 14px;
	letter-spacing: .01em;
	line-height: 24px;
}
.breadcrumbs_item a:hover {
	color: rgba(0,0,0,.6);
}
.breadcrumbs_item:last-child a:hover {
	color: rgba(0,0,0,.3);
}
.breadcrumbs_item:last-child a:active {
	color: rgba(0,0,0,.3);
}
.breadcrumbs_item a:active {
	color: rgba(0,0,0,.1);
}




.page-content_wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	margin: 0 auto;
	padding-left: 20px;
	padding-right: 20px;
	width: 1200px;
}
.sidebar {
	-webkit-box-align: end;
	    -ms-flex-align: end;
	        align-items: flex-end;
	background-color: #efefef;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	position: relative;
	width: 328px;
}
.sidebar::before {
	background-color: #efefef;
	content: "";
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;
	width: 100vw;
	z-index: -1;
}
.goods {
	width: 832px;
}
.sidebar h2 {
	background-color: rgba(0,0,0,.08);
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 16px;
	font-weight: 800;
	letter-spacing: .2em;
	line-height: 24px;
	margin: 0;
	padding-bottom: 23px;
	padding-left: 60px;
	padding-right: 68px;
	padding-top: 23px;
	position: relative;
	text-transform: uppercase;
	width: 328px;
}
.sidebar h2::before {
	background-color: rgba(0,0,0,.08);
	content: "";
	height: 70px;
	position: absolute;
	right: 328px;
	top: 0;
	width: 100vw;
}
.filter {
	padding-right: 68px;
	padding-top: 69px;
	width: 270px;
}
.filter_item-wrap {
	position: relative;
}
.filter_item-wrap::before {
	background-color: #000;
	content: "";
	height: 2px;
	left: 1px;
	position: absolute;
	top: 0;
	width: 201px;
}
.filter_item {
	border: 0;
	margin: 0;
	padding: 0;
	width: 202px;
}
.filter_item legend {
	color: #000;
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 18px;
	font-weight: 800;
	letter-spacing: .01em;
	line-height: 24px;
	margin: 0;
	padding-bottom: 18px;
	padding-top: 12px;
}
.filter_item-price legend {
	padding-bottom: 35px;
}
.filter-range {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 32px;
}
.filter-range_controls {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	padding-bottom: 5px;
	position: relative;
}
.filter-range_scale {
	background-color: #dbdbdb;
	height: 2px;
}
.filter-range_bar {
	background-color: #91c92f;
	height: 2px;
	width: 60%;
}
.filter-range_toggle {
	background-color: #ababab;
	border: 8px solid #fff;
	border-radius: 50%;
	-webkit-box-shadow: 0 2px 1px #dadada;
	        box-shadow: 0 2px 1px #dadada;
	cursor: pointer;
	height: 20px;
	position: absolute;
	width: 20px;
}
.filter-range_toggle:active {
	border: 9px solid #fff;
	height: 22px;
	width: 22px;
}
.filter-range_toggle-min {
	left: -4px;
	top: -10px;
}
.filter-range_toggle-max {
	left: 109px;
	top: -10px;
}
.filter-range_label {
	color: rgba(0,0,0,.2);
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
}
.filter-range_label-min {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
	margin-right: 18px;
}
.filter-range_label-max {
	-webkit-box-flex: 1;
	    -ms-flex-positive: 1;
	        flex-grow: 1;
}
.filter-range_input {
	background: 0 0;
	border: 0;
	color: rgba(0,0,0,.2);
	font-family: "Gilroy","Arial",sans-serif;
	font-size: 14px;
	font-weight: 300;
	letter-spacing: 0;
	line-height: 24px;
	margin: 0;
	padding: 0;
	width: 50px;
}
.filter_checkbox-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 31px;
}
.filter_checkbox-item {
	padding-left: 39px;
}
.filter_checkbox-label {
	color: #000;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: .01em;
	line-height: 40px;
	position: relative;
}
.filter_checkbox-input:disabled+.filter_checkbox-label,.filter_checkbox-input:checked:disabled+.filter_checkbox-label {
	color: #a6a6a6;
}
.filter_checkbox-input:disabled+.filter_checkbox-label::before,.filter_checkbox-input:checked:disabled+.filter_checkbox-label::before,.filter_checkbox-input:checked:disabled+.filter_checkbox-label::after {
	opacity: .25;
}
.filter_checkbox-input:focus+.filter_checkbox-label {
	outline: 5px auto -webkit-focus-ring-color;
}
.filter_radio-input:focus+.filter_radio-label {
  outline: 5px auto -webkit-focus-ring-color;
}
.filter_checkbox-label::before {
	background-image: url(../img/checkbox-off.svg);
	bottom: -2px;
	content: "";
	height: 23px;
	left: -40px;
	position: absolute;
	width: 23px;
}
.filter_checkbox-label::after {
	background-image: url(../img/checkbox-on.svg);
	bottom: -2px;
	content: "";
	display: none;
	height: 23px;
	left: -40px;
	position: absolute;
	width: 27px;
}
.filter_checkbox-input:checked+.filter_checkbox-label::before {
	display: none;
}
.filter_checkbox-input:checked+.filter_checkbox-label::after {
	display: block;
}
.filter_checkbox-label:hover::before,.filter_checkbox-label:hover::after {
	opacity: .6;
}
.filter_radio-list {
	list-style-type: none;
	margin: 0;
	padding: 0;
	padding-bottom: 30px;
}
.filter_radio-item {
	padding-left: 39px;
}
.filter_radio-label {
	color: #000;
	cursor: pointer;
	font-size: 14px;
	letter-spacing: .01em;
	line-height: 40px;
	position: relative;
}
.filter_radio-label::before {
	border: 4px solid #000;
	border-radius: 12.5px;
	bottom: -2px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	content: "";
	height: 25px;
	left: -40px;
	position: absolute;
	width: 25px;
}
.filter_radio-label::after {
	background-color: #000;
	border-radius: 4.5px;
	content: "";
	display: none;
	height: 9px;
	left: -32px;
	position: absolute;
	top: 4px;
	width: 9px;
}
.filter_radio-input:checked+.filter_radio-label::after {
	display: block;
}
.filter_radio-input:disabled+.filter_radio-label,.filter_radio-input:checked:disabled+.filter_radio-label {
	color: #a6a6a6;
}
.filter__radio-input:disabled+.filter_radio-label::before,.filter_radio-input:checked:disabled+.filter_radio-label::before {
	opacity: .25;
}
.filter_radio-label:hover::before,.filter_radio-label:hover::after {
	opacity: .6;
}
.filter_radio-label:active::before,.filter_radio-label:active::before {
	opacity: 1;
}
.filter .btn {
	background: 0 0;
	border: 0;
	margin-left: 2px;
	width: 200px;
}

/* Сортировка товаров */
.goods_sort {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
  width: 832px;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 72px;
}
.goods_sort::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.08);
}
.goods_sort h3 {
  margin: 0;
  margin-right: 55px;
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.goods_sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  padding-right: 200px;
  padding-bottom: 4px;
  list-style-type: none;
}
.goods_sort-item {
  margin-right: 28px;
}
.goods_sort-item a {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(0, 0, 0, 0.3);
}
.goods_sort-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}
.goods_sort-item a:active {
  color: rgba(0, 0, 0, 1);
}
.goods_sort-item-active a {
  color: rgba(0, 0, 0, 1);
}
.goods_sort-item-active a:hover {
  color: rgba(0, 0, 0, 1);
}
.goods_sort-updown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 41px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.goods_sort-up,
.goods_sort-down {
  position: relative;
	width: 11px;
	height: 10px;
}
.goods_sort-up a::after {
	content: "";
	top: 0;
	left: 0;
  position: absolute;
  width: 11px;
	height: 10px;
	background-image: url("../img/sort-up.svg");
	background-repeat: no-repeat;
}
.goods_sort-down a::after {
  content: "";
	top: 0;
	left: 0;
  position: absolute;
  width: 11px;
	height: 10px;
	background-image: url("../img/sort-down.svg");
	background-repeat: no-repeat;
}
.goods_sort-up-link {
  opacity: 0.5;
}
.goods_sort-up-link:hover,
.goods_sort-down-link:hover {
  opacity: 0.8;
}
.goods_sort-up-link:active,
.goods_sort-down-link:active {
  opacity: 1;
}
.goods_sort-up-active a,
.goods_sort-down-active a {
  opacity: 1;
}


/* Список товаров */
.goods_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 852px;
  margin: 0;
  padding-top: 69px;
  padding-left: 72px;
}
.goods-item {
  width: 360px;
  margin-right: 40px;;
}
.goods-item:nth-child(2n) {
  margin-right: 0;
}
.goods-item_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 45px;
}
.goods-item_info h1 {
  width: 260px;
  margin: 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.01em;
}
.goods-item:nth-child(2) h1 {
  width: 180px;
}
.goods-item_info a {
  color: #000000;
}
.goods-item_price {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 0.01em;
}
.goods-item_hover {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
  width: 360px;
  height: 380px;
  padding-top: 169px;
  padding-right: 90px;
  padding-left: 90px;
  text-align: center;
  background-color: rgba(238, 238, 238, 0.7);
}
.goods-item:hover .goods-item_hover {
  display: block;
}
.goods-item_hover .btn {
  width: 200px;
  margin-bottom: 6px;
  margin-left: -11px;
  background: none;
  border: none;
}
.goods-item_add {
  font-size: 13px;
  line-height: 20px;
  color: #000000;
  letter-spacing: 0.01em;
  opacity: 0.5;
}
.goods-item_add:hover {
  opacity: 1;
}
.goods-item_add:active {
  opacity: 0.2;
}
.goods-item {
  position: relative;
}
.new {
  position: relative;
}
.new::before {
  content: "";
  top: 28px;
  right: 27px;
  z-index: 3;
  position: absolute;
  width: 60px;
  height: 61px;
  background-image: url("../img/new.png");
  background-repeat: no-repeat;
}
.goods-item_img {
  position: relative;
}
.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 760px;
  margin: 0;
  margin-top: -11px;
  margin-bottom: 77px;
  margin-left: 71px;
  padding: 0;
  list-style-type: none;
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-control_prev {
  display: block;
  width: 134px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
}
.pagination-control_next {
  display: block;
  width: 134px;
  padding-top: 24px;
  padding-right: 30px;
  padding-bottom: 22px;
  padding-left: 30px;
  text-align: right;
}
.pagination-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.pagination-item {
  width: 40px;
  text-align: center;
}
.pagination-control {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  cursor: pointer;
}
.pagination-control:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-control:hover {
  background-color: rgba(0, 0, 0, 0.08);
}
.pagination-control:active {
  color: rgba(0, 0, 0, 0.3);
}
.pagination-item a {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  letter-spacing: 0.2em;
  opacity: 0.3;
}
.pagination-item a:hover {
  opacity: 0.6;
}
.pagination-item a:active {
  opacity: 1;
}
.pagination-item_active a {
  opacity: 1;
}
.pagination-item_active a:hover {
  opacity: 1;
}

/* Всплывающее окно обратной связи */
@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translate(-50%, -50%);
            transform: translateY(-2000px) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translateY(30px) translate(-50%, -50%);
            transform: translateY(30px) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translate(-50%, -50%);
            transform: translateY(-10px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
            transform: translateY(0) translate(-50%, -50%);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px) translate(-50%, -50%);
            transform: translateY(-2000px) translate(-50%, -50%);
  }
  70% {
    -webkit-transform: translateY(30px) translate(-50%, -50%);
            transform: translateY(30px) translate(-50%, -50%);
  }
  90% {
    -webkit-transform: translateY(-10px) translate(-50%, -50%);
            transform: translateY(-10px) translate(-50%, -50%);
  }
  100% {
    -webkit-transform: translateY(0) translate(-50%, -50%);
            transform: translateY(0) translate(-50%, -50%);
  }
}

@-webkit-keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) translateX(0);
            transform: translate(-50%, -50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-50%, -50%) translateX(-10px);
            transform: translate(-50%, -50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50%, -50%) translateX(10px);
            transform: translate(-50%, -50%) translateX(10px);
  }
}

@keyframes shake {
  0%,
  100% {
    -webkit-transform: translate(-50%, -50%) translateX(0);
            transform: translate(-50%, -50%) translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate(-50%, -50%) translateX(-10px);
            transform: translate(-50%, -50%) translateX(-10px);
  }
  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate(-50%, -50%) translateX(10px);
            transform: translate(-50%, -50%) translateX(10px);
  }
}
.popup-write-us {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 960px;

  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.popup-write-us-active {
  display: block;
}
.popup-write-us-error {
  -webkit-animation-name: shake;
          animation-name: shake;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.popup-write-us_wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 93px;
  padding-right: 100px;
  padding-bottom: 76px;
  padding-left: 100px;
}
.popup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.popup-input-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.popup-input-wrap-name {
  padding-right: 40px;
  padding-bottom: 34px;
}
.popup-write-us label {
  width: 360px;
  padding-bottom: 6px;
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  font-family: "Gilroy", "Arial", sans-serif;
  color: #000000;
  cursor: pointer;
}
.popup-input-wrap-message {
  padding-bottom: 20px;
}
.popup-input-wrap-message label {
  padding-bottom: 8px;
}
.popup-write-us input {
  width: 360px;
  height: 50px;
  padding-top: 16px;
  padding-right: 19px;
  padding-bottom: 16px;
  padding-left: 19px;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: #464646;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;
}
.popup-write-us input:hover {
  background-color: rgba(230, 230, 230, 0.8);
}
.popup-write-us input:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
	padding-left: 16px;
}
.popup-write-us input:invalid {
  background-color: rgba(237, 181, 181, 1.0);
}
.popup-write-us input::-webkit-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us input:-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us input::-ms-input-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us input::-moz-placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us input::placeholder {
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us textarea {
  width: 760px;
  min-height: 156px;
  padding: 14px 19px;
  font-size: 14px;
  line-height: 18px;
  color: #464646;
  background-color: rgba(230, 230, 230, 0.5);
  border: none;
  outline: none;
  resize: none;
}
.popup-form .btn {
  margin-top: 18px;
}
.popup-write-us textarea:hover {
  background-color: rgba(230, 230, 230, 0.8);
}
.popup-write-us textarea:focus {
  background-color: #ffffff;
  border: 3px solid rgba(240, 197, 46, 0.5);
	padding-left: 16px;
	padding-top: 11px;
}
.popup-write-us textarea::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us textarea:-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us textarea::-ms-input-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us textarea::-moz-placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us textarea::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Open Sans", "Arial", sans-serif;
  color: rgba(70, 70, 70, 0.4);
}
.popup-write-us .btn {
  width: 200px;
  background: none;
  border: none;
}
.popup-write-us_close,
.popup-map_close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 55px;
  height: 55px;
  background-color: #f0c52e;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
}
.popup-write-us_close::before,
.popup-map_close::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          -ms-transform: translate(-50%, -50%) rotate(45deg);
      transform: translate(-50%, -50%) rotate(45deg);
}
.popup-write-us_close::after,
.popup-map_close::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2px;
  height: 30px;
  background-color: #ffffff;
  -webkit-transform: translate(-50%, -50%) rotate(135deg);
          -ms-transform: translate(-50%, -50%) rotate(135deg);
      transform: translate(-50%, -50%) rotate(135deg);
}

.popup-write-us_close:hover,
.popup-map_close:hover {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.popup-write-us_close:active,
.popup-map_close:active {
  opacity: 0.3;
}

/* Всплывающая карта */
.popup-map {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 10;
  display: none;
  width: 960px;
  height: 560px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  -webkit-transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-duration: 0.6s;
          animation-duration: 0.6s;
}
.popup-map-active {
  display: block;
}
.popup-map_wrap {
  position: relative;
}
.popup-map_wrap iframe {
  width: 960px;
  height: 560px;
  border: none;
}
